In [1]:
import pandas as pd

In [3]:
# Load the dataset
file = ("carbon_emission_analysis\Em_Unit_Fuel_Type.xlsx")
Em_fuel_type_df = pd.read_excel(file, sheet_name = "UNIT_DATA", thousands = ",")

In [4]:
print(Em_fuel_type_df.columns)

Index(['Facility Id', 'FRS Id', 'Facility Name', 'City', 'State',
       'Primary NAICS Code', 'Reporting Year', 'Industry Type (subparts)',
       'Industry Type (sectors)', 'Unit Name', 'Unit Type',
       'Unit Reporting Method',
       'Unit Maximum Rated Heat Input Capacity (mmBTU/hr)',
       'General Fuel Type', 'Unit CO2 emissions (non-biogenic) ',
       'Unit Methane (CH4) emissions ', 'Unit Nitrous Oxide (N2O) emissions ',
       'Unit Biogenic CO2 emissions (metric tons)'],
      dtype='object')

In [5]:
# Select the columns to keep for the analysis
Em_fuel_type_df = Em_fuel_type_df[['Facility Id', 'Facility Name', 'State',  
                           'Primary NAICS Code', 'Industry Type (sectors)', 
                           'Unit Maximum Rated Heat Input Capacity (mmBTU/hr)',
                            'General Fuel Type']]

In [6]:
# Check the column data type
Em_fuel_type_df.dtypes

Facility Id                                            int64
Facility Name                                         object
State                                                 object
Primary NAICS Code                                     int64
Industry Type (sectors)                               object
Unit Maximum Rated Heat Input Capacity (mmBTU/hr)    float64
General Fuel Type                                     object
dtype: object

In [7]:
# Remove the null value
Em_fuel_type_df.isnull()

,Facility Id,Facility Name,State,Primary NAICS Code,Industry Type (sectors),Unit Maximum Rated Heat Input Capacity (mmBTU/hr),General Fuel Type
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
210382,False,False,False,False,False,False,False
210383,False,False,False,False,False,False,False
210384,False,False,False,False,False,False,False
210385,False,False,False,False,False,False,False
210386,False,False,False,False,False,False,False

In [8]:
Em_fuel_type_df.dropna(inplace = True)

In [9]:
Em_fuel_type_df = Em_fuel_type_df.rename(columns = {"Facility Id": "Fac_ID",
                                                   "Facility Name": "Fac_Name",
                                                   "Primary NAICS Code": "NAICS",
                                                   "Industry Type (sectors)": "Sector",
                                                   "Unit Maximum Rated Heat Input Capacity (mmBTU/hr)": "Max_capacity",
                                                   "General Fuel Type": "Fuel_type"})
Em_fuel_type_df.head(8)

,Fac_ID,Fac_Name,State,NAICS,Sector,Max_capacity,Fuel_type
0,1012147,17Z Gas Plant - Chevron USA Inc.,CA,211130,"Natural Gas and Natural Gas Liquids Suppliers,...",30.0,Natural Gas
1,1012147,17Z Gas Plant - Chevron USA Inc.,CA,211130,"Natural Gas and Natural Gas Liquids Suppliers,...",30.0,Natural Gas
2,1012147,17Z Gas Plant - Chevron USA Inc.,CA,211130,"Natural Gas and Natural Gas Liquids Suppliers,...",30.0,Natural Gas
3,1012147,17Z Gas Plant - Chevron USA Inc.,CA,211130,"Natural Gas and Natural Gas Liquids Suppliers,...",30.0,Natural Gas
4,1012147,17Z Gas Plant - Chevron USA Inc.,CA,211112,"Natural Gas and Natural Gas Liquids Suppliers,...",30.0,Natural Gas
7,1000112,23rd and 3rd,NY,221112,Power Plants,7.4,Natural Gas
8,1000112,23rd and 3rd,NY,221112,Power Plants,7.4,Natural Gas
11,1000112,23rd and 3rd,NY,221112,Power Plants,7.4,Natural Gas

In [14]:
Em_fuel_type_df = Em_fuel_type_df.drop_duplicates("Fac_ID")

In [15]:
Em_fuel_type_df.to_csv("Em_fuel_type.csv", index = False, header = True)