In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "d99ac417",
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "import numpy as np"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "4c0be7d5",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>GeoFips</th>\n",
       "      <th>GeoName</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "      <th>2018</th>\n",
       "      <th>2019</th>\n",
       "      <th>2020</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01000</td>\n",
       "      <td>Alabama</td>\n",
       "      <td>4866824.0</td>\n",
       "      <td>4877989.0</td>\n",
       "      <td>4891628.0</td>\n",
       "      <td>4907965.0</td>\n",
       "      <td>4921532.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>02000</td>\n",
       "      <td>Alaska</td>\n",
       "      <td>742575.0</td>\n",
       "      <td>740983.0</td>\n",
       "      <td>736624.0</td>\n",
       "      <td>733603.0</td>\n",
       "      <td>731158.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>04000</td>\n",
       "      <td>Arizona</td>\n",
       "      <td>6944767.0</td>\n",
       "      <td>7048088.0</td>\n",
       "      <td>7164228.0</td>\n",
       "      <td>7291843.0</td>\n",
       "      <td>7421401.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>05000</td>\n",
       "      <td>Arkansas</td>\n",
       "      <td>2991815.0</td>\n",
       "      <td>3003855.0</td>\n",
       "      <td>3012161.0</td>\n",
       "      <td>3020985.0</td>\n",
       "      <td>3030522.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>06000</td>\n",
       "      <td>California</td>\n",
       "      <td>39149186.0</td>\n",
       "      <td>39337785.0</td>\n",
       "      <td>39437463.0</td>\n",
       "      <td>39437610.0</td>\n",
       "      <td>39368078.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  GeoFips     GeoName        2016        2017        2018        2019  \\\n",
       "0   01000     Alabama   4866824.0   4877989.0   4891628.0   4907965.0   \n",
       "1   02000      Alaska    742575.0    740983.0    736624.0    733603.0   \n",
       "2   04000     Arizona   6944767.0   7048088.0   7164228.0   7291843.0   \n",
       "3   05000    Arkansas   2991815.0   3003855.0   3012161.0   3020985.0   \n",
       "4   06000  California  39149186.0  39337785.0  39437463.0  39437610.0   \n",
       "\n",
       "         2020  \n",
       "0   4921532.0  \n",
       "1    731158.0  \n",
       "2   7421401.0  \n",
       "3   3030522.0  \n",
       "4  39368078.0  "
      ]
     },
     "execution_count": 2,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Load Populatiion data\n",
    "population_data = pd.read_excel(\"Population_2016-2020.xls\", sheet_name=0,header=5)\n",
    "population_df = pd.DataFrame(population_data)\n",
    "population_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "63060bf3",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Facility Id</th>\n",
       "      <th>State</th>\n",
       "      <th>Latitude</th>\n",
       "      <th>Longitude</th>\n",
       "      <th>Primary NAICS Code</th>\n",
       "      <th>industry_type</th>\n",
       "      <th>total_direct_emissions</th>\n",
       "      <th>reporting_year</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1004377</td>\n",
       "      <td>TX</td>\n",
       "      <td>33.298570</td>\n",
       "      <td>-96.535860</td>\n",
       "      <td>562212</td>\n",
       "      <td>Waste Management and Remediation Services</td>\n",
       "      <td>194000.000</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1010040</td>\n",
       "      <td>KY</td>\n",
       "      <td>37.219099</td>\n",
       "      <td>-83.156046</td>\n",
       "      <td>212112</td>\n",
       "      <td>Mining (except Oil and Gas)</td>\n",
       "      <td>390393.500</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1010085</td>\n",
       "      <td>KY</td>\n",
       "      <td>37.236617</td>\n",
       "      <td>-83.181260</td>\n",
       "      <td>212112</td>\n",
       "      <td>Mining (except Oil and Gas)</td>\n",
       "      <td>64664.500</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1000112</td>\n",
       "      <td>NY</td>\n",
       "      <td>40.663000</td>\n",
       "      <td>-74.000000</td>\n",
       "      <td>221112</td>\n",
       "      <td>Utilities</td>\n",
       "      <td>100591.828</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1006394</td>\n",
       "      <td>NM</td>\n",
       "      <td>36.745200</td>\n",
       "      <td>-107.445500</td>\n",
       "      <td>213112</td>\n",
       "      <td>Support Activities for Mining</td>\n",
       "      <td>19389.570</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   Facility Id State   Latitude   Longitude  Primary NAICS Code  \\\n",
       "0      1004377    TX  33.298570  -96.535860              562212   \n",
       "1      1010040    KY  37.219099  -83.156046              212112   \n",
       "2      1010085    KY  37.236617  -83.181260              212112   \n",
       "3      1000112    NY  40.663000  -74.000000              221112   \n",
       "4      1006394    NM  36.745200 -107.445500              213112   \n",
       "\n",
       "                               industry_type  total_direct_emissions  \\\n",
       "0  Waste Management and Remediation Services              194000.000   \n",
       "1                Mining (except Oil and Gas)              390393.500   \n",
       "2                Mining (except Oil and Gas)               64664.500   \n",
       "3                                 Utilities               100591.828   \n",
       "4              Support Activities for Mining               19389.570   \n",
       "\n",
       "   reporting_year  \n",
       "0            2011  \n",
       "1            2011  \n",
       "2            2011  \n",
       "3            2011  \n",
       "4            2011  "
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Load Emissions data\n",
    "emission_data = pd.read_csv(\"emission_by_year.csv\")\n",
    "emission_df = pd.DataFrame(emission_data)\n",
    "emission_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "c6efabfa",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Facility Id</th>\n",
       "      <th>State</th>\n",
       "      <th>Latitude</th>\n",
       "      <th>Longitude</th>\n",
       "      <th>Primary NAICS Code</th>\n",
       "      <th>industry_type</th>\n",
       "      <th>total_direct_emissions</th>\n",
       "      <th>year</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1004377</td>\n",
       "      <td>TX</td>\n",
       "      <td>33.298570</td>\n",
       "      <td>-96.535860</td>\n",
       "      <td>562212</td>\n",
       "      <td>Waste Management and Remediation Services</td>\n",
       "      <td>194000.000</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1010040</td>\n",
       "      <td>KY</td>\n",
       "      <td>37.219099</td>\n",
       "      <td>-83.156046</td>\n",
       "      <td>212112</td>\n",
       "      <td>Mining (except Oil and Gas)</td>\n",
       "      <td>390393.500</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1010085</td>\n",
       "      <td>KY</td>\n",
       "      <td>37.236617</td>\n",
       "      <td>-83.181260</td>\n",
       "      <td>212112</td>\n",
       "      <td>Mining (except Oil and Gas)</td>\n",
       "      <td>64664.500</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1000112</td>\n",
       "      <td>NY</td>\n",
       "      <td>40.663000</td>\n",
       "      <td>-74.000000</td>\n",
       "      <td>221112</td>\n",
       "      <td>Utilities</td>\n",
       "      <td>100591.828</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1006394</td>\n",
       "      <td>NM</td>\n",
       "      <td>36.745200</td>\n",
       "      <td>-107.445500</td>\n",
       "      <td>213112</td>\n",
       "      <td>Support Activities for Mining</td>\n",
       "      <td>19389.570</td>\n",
       "      <td>2011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>68467</th>\n",
       "      <td>1010592</td>\n",
       "      <td>TX</td>\n",
       "      <td>31.795396</td>\n",
       "      <td>-94.179048</td>\n",
       "      <td>486210</td>\n",
       "      <td>Pipeline Transportation</td>\n",
       "      <td>22359.122</td>\n",
       "      <td>2020</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>68468</th>\n",
       "      <td>1000805</td>\n",
       "      <td>IL</td>\n",
       "      <td>42.477600</td>\n",
       "      <td>-87.895000</td>\n",
       "      <td>221112</td>\n",
       "      <td>Utilities</td>\n",
       "      <td>325679.418</td>\n",
       "      <td>2020</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>68469</th>\n",
       "      <td>1001464</td>\n",
       "      <td>CO</td>\n",
       "      <td>39.736900</td>\n",
       "      <td>-105.016900</td>\n",
       "      <td>221330</td>\n",
       "      <td>Utilities</td>\n",
       "      <td>0.000</td>\n",
       "      <td>2020</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>68470</th>\n",
       "      <td>1012625</td>\n",
       "      <td>TX</td>\n",
       "      <td>27.888611</td>\n",
       "      <td>-97.277778</td>\n",
       "      <td>331110</td>\n",
       "      <td>Primary Metal Manufacturing</td>\n",
       "      <td>650907.100</td>\n",
       "      <td>2020</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>68471</th>\n",
       "      <td>1011696</td>\n",
       "      <td>NC</td>\n",
       "      <td>35.661943</td>\n",
       "      <td>-82.996087</td>\n",
       "      <td>562212</td>\n",
       "      <td>Waste Management and Remediation Services</td>\n",
       "      <td>89476.750</td>\n",
       "      <td>2020</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>68472 rows × 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       Facility Id State   Latitude   Longitude  Primary NAICS Code  \\\n",
       "0          1004377    TX  33.298570  -96.535860              562212   \n",
       "1          1010040    KY  37.219099  -83.156046              212112   \n",
       "2          1010085    KY  37.236617  -83.181260              212112   \n",
       "3          1000112    NY  40.663000  -74.000000              221112   \n",
       "4          1006394    NM  36.745200 -107.445500              213112   \n",
       "...            ...   ...        ...         ...                 ...   \n",
       "68467      1010592    TX  31.795396  -94.179048              486210   \n",
       "68468      1000805    IL  42.477600  -87.895000              221112   \n",
       "68469      1001464    CO  39.736900 -105.016900              221330   \n",
       "68470      1012625    TX  27.888611  -97.277778              331110   \n",
       "68471      1011696    NC  35.661943  -82.996087              562212   \n",
       "\n",
       "                                   industry_type  total_direct_emissions  year  \n",
       "0      Waste Management and Remediation Services              194000.000  2011  \n",
       "1                    Mining (except Oil and Gas)              390393.500  2011  \n",
       "2                    Mining (except Oil and Gas)               64664.500  2011  \n",
       "3                                     Utilities               100591.828  2011  \n",
       "4                  Support Activities for Mining               19389.570  2011  \n",
       "...                                          ...                     ...   ...  \n",
       "68467                    Pipeline Transportation               22359.122  2020  \n",
       "68468                                 Utilities               325679.418  2020  \n",
       "68469                                 Utilities                    0.000  2020  \n",
       "68470                Primary Metal Manufacturing              650907.100  2020  \n",
       "68471  Waste Management and Remediation Services               89476.750  2020  \n",
       "\n",
       "[68472 rows x 8 columns]"
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "emission_df = emission_df.rename(columns={\"reporting_year\":\"year\"})\n",
    "emission_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "104eee32",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>State</th>\n",
       "      <th>Abbreviation</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>ALABAMA</td>\n",
       "      <td>AL</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>ALASKA</td>\n",
       "      <td>AK</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>AMERICAN SAMOA</td>\n",
       "      <td>AS</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>ARIZONA</td>\n",
       "      <td>AZ</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>ARKANSAS</td>\n",
       "      <td>AR</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "            State Abbreviation\n",
       "0         ALABAMA           AL\n",
       "1          ALASKA           AK\n",
       "2  AMERICAN SAMOA           AS\n",
       "3         ARIZONA           AZ\n",
       "4        ARKANSAS           AR"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Load State name data\n",
    "state_name = pd.read_excel(\"state_abbr.xlsx\", sheet_name=0, header = 0)\n",
    "state_df = pd.DataFrame(state_name)\n",
    "state_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "74705806",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>GeoFips</th>\n",
       "      <th>GeoName</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "      <th>2018</th>\n",
       "      <th>2019</th>\n",
       "      <th>2020</th>\n",
       "      <th>State</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01000</td>\n",
       "      <td>Alabama</td>\n",
       "      <td>4866824.0</td>\n",
       "      <td>4877989.0</td>\n",
       "      <td>4891628.0</td>\n",
       "      <td>4907965.0</td>\n",
       "      <td>4921532.0</td>\n",
       "      <td>ALABAMA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>02000</td>\n",
       "      <td>Alaska</td>\n",
       "      <td>742575.0</td>\n",
       "      <td>740983.0</td>\n",
       "      <td>736624.0</td>\n",
       "      <td>733603.0</td>\n",
       "      <td>731158.0</td>\n",
       "      <td>ALASKA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>04000</td>\n",
       "      <td>Arizona</td>\n",
       "      <td>6944767.0</td>\n",
       "      <td>7048088.0</td>\n",
       "      <td>7164228.0</td>\n",
       "      <td>7291843.0</td>\n",
       "      <td>7421401.0</td>\n",
       "      <td>ARIZONA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>05000</td>\n",
       "      <td>Arkansas</td>\n",
       "      <td>2991815.0</td>\n",
       "      <td>3003855.0</td>\n",
       "      <td>3012161.0</td>\n",
       "      <td>3020985.0</td>\n",
       "      <td>3030522.0</td>\n",
       "      <td>ARKANSAS</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>06000</td>\n",
       "      <td>California</td>\n",
       "      <td>39149186.0</td>\n",
       "      <td>39337785.0</td>\n",
       "      <td>39437463.0</td>\n",
       "      <td>39437610.0</td>\n",
       "      <td>39368078.0</td>\n",
       "      <td>CALIFORNIA</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  GeoFips     GeoName        2016        2017        2018        2019  \\\n",
       "0   01000     Alabama   4866824.0   4877989.0   4891628.0   4907965.0   \n",
       "1   02000      Alaska    742575.0    740983.0    736624.0    733603.0   \n",
       "2   04000     Arizona   6944767.0   7048088.0   7164228.0   7291843.0   \n",
       "3   05000    Arkansas   2991815.0   3003855.0   3012161.0   3020985.0   \n",
       "4   06000  California  39149186.0  39337785.0  39437463.0  39437610.0   \n",
       "\n",
       "         2020       State  \n",
       "0   4921532.0     ALABAMA  \n",
       "1    731158.0      ALASKA  \n",
       "2   7421401.0     ARIZONA  \n",
       "3   3030522.0    ARKANSAS  \n",
       "4  39368078.0  CALIFORNIA  "
      ]
     },
     "execution_count": 6,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "population_df[\"State\"] = population_df[\"GeoName\"].str.upper()\n",
    "population_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "2b5a5d37",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>State</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "      <th>2018</th>\n",
       "      <th>2019</th>\n",
       "      <th>2020</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>AL</td>\n",
       "      <td>4866824.0</td>\n",
       "      <td>4877989.0</td>\n",
       "      <td>4891628.0</td>\n",
       "      <td>4907965.0</td>\n",
       "      <td>4921532.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>AK</td>\n",
       "      <td>742575.0</td>\n",
       "      <td>740983.0</td>\n",
       "      <td>736624.0</td>\n",
       "      <td>733603.0</td>\n",
       "      <td>731158.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>AZ</td>\n",
       "      <td>6944767.0</td>\n",
       "      <td>7048088.0</td>\n",
       "      <td>7164228.0</td>\n",
       "      <td>7291843.0</td>\n",
       "      <td>7421401.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>AR</td>\n",
       "      <td>2991815.0</td>\n",
       "      <td>3003855.0</td>\n",
       "      <td>3012161.0</td>\n",
       "      <td>3020985.0</td>\n",
       "      <td>3030522.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>CA</td>\n",
       "      <td>39149186.0</td>\n",
       "      <td>39337785.0</td>\n",
       "      <td>39437463.0</td>\n",
       "      <td>39437610.0</td>\n",
       "      <td>39368078.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  State        2016        2017        2018        2019        2020\n",
       "0    AL   4866824.0   4877989.0   4891628.0   4907965.0   4921532.0\n",
       "1    AK    742575.0    740983.0    736624.0    733603.0    731158.0\n",
       "2    AZ   6944767.0   7048088.0   7164228.0   7291843.0   7421401.0\n",
       "3    AR   2991815.0   3003855.0   3012161.0   3020985.0   3030522.0\n",
       "4    CA  39149186.0  39337785.0  39437463.0  39437610.0  39368078.0"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Change the State name to abbr\n",
    "population_df = pd.merge(population_df,state_df,on=\"State\")\n",
    "population_df = population_df[[\"Abbreviation\", \"2016\",\"2017\",\"2018\",\"2019\",\"2020\"]]\n",
    "population_df = population_df.rename(columns={\"Abbreviation\":\"State\"})\n",
    "population_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "150a7576",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:2: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2016[\"year\"]=2016\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:3: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2016[\"population\"] = population_2016.pop(\"2016\")\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:6: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2017[\"year\"]=2017\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:7: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2017[\"population\"] = population_2017.pop(\"2017\")\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:11: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2018[\"year\"]=2018\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:12: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2018[\"population\"] = population_2018.pop(\"2018\")\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:15: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2019[\"year\"]=2019\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:16: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2019[\"population\"] = population_2019.pop(\"2019\")\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:19: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2020[\"year\"]=2020\n",
      "/var/folders/_m/_yrmnrjs14q0q916ryhm63ph0000gn/T/ipykernel_17609/2185667281.py:20: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  population_2020[\"population\"] = population_2020.pop(\"2020\")\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>State</th>\n",
       "      <th>year</th>\n",
       "      <th>population</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>AL</td>\n",
       "      <td>2020</td>\n",
       "      <td>4921532.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>AK</td>\n",
       "      <td>2020</td>\n",
       "      <td>731158.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>AZ</td>\n",
       "      <td>2020</td>\n",
       "      <td>7421401.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>AR</td>\n",
       "      <td>2020</td>\n",
       "      <td>3030522.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>CA</td>\n",
       "      <td>2020</td>\n",
       "      <td>39368078.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  State  year  population\n",
       "0    AL  2020   4921532.0\n",
       "1    AK  2020    731158.0\n",
       "2    AZ  2020   7421401.0\n",
       "3    AR  2020   3030522.0\n",
       "4    CA  2020  39368078.0"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "population_2016 = population_df[[\"State\",\"2016\"]]\n",
    "population_2016[\"year\"]=2016\n",
    "population_2016[\"population\"] = population_2016.pop(\"2016\")\n",
    "\n",
    "population_2017 = population_df[[\"State\",\"2017\"]]\n",
    "population_2017[\"year\"]=2017\n",
    "population_2017[\"population\"] = population_2017.pop(\"2017\")\n",
    "population_2017.head()\n",
    "\n",
    "population_2018 = population_df[[\"State\",\"2018\"]]\n",
    "population_2018[\"year\"]=2018\n",
    "population_2018[\"population\"] = population_2018.pop(\"2018\")\n",
    "\n",
    "population_2019 = population_df[[\"State\",\"2019\"]]\n",
    "population_2019[\"year\"]=2019\n",
    "population_2019[\"population\"] = population_2019.pop(\"2019\")\n",
    "\n",
    "population_2020 = population_df[[\"State\",\"2020\"]]\n",
    "population_2020[\"year\"]=2020\n",
    "population_2020[\"population\"] = population_2020.pop(\"2020\")\n",
    "population_2020.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "5764a51b",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>State</th>\n",
       "      <th>year</th>\n",
       "      <th>population</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>AL</td>\n",
       "      <td>2016</td>\n",
       "      <td>4866824.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>AK</td>\n",
       "      <td>2016</td>\n",
       "      <td>742575.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>AZ</td>\n",
       "      <td>2016</td>\n",
       "      <td>6944767.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>AR</td>\n",
       "      <td>2016</td>\n",
       "      <td>2991815.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>CA</td>\n",
       "      <td>2016</td>\n",
       "      <td>39149186.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  State  year  population\n",
       "0    AL  2016   4866824.0\n",
       "1    AK  2016    742575.0\n",
       "2    AZ  2016   6944767.0\n",
       "3    AR  2016   2991815.0\n",
       "4    CA  2016  39149186.0"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "population_df = pd.concat([population_2016,\n",
    "                           population_2017,\n",
    "                           population_2018,\n",
    "                           population_2019,\n",
    "                           population_2020\n",
    "                           ],axis=0)\n",
    "population_df.dropna()\n",
    "population_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "f0fc27a5",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Facility Id</th>\n",
       "      <th>State</th>\n",
       "      <th>Latitude</th>\n",
       "      <th>Longitude</th>\n",
       "      <th>Primary NAICS Code</th>\n",
       "      <th>industry_type</th>\n",
       "      <th>total_direct_emissions</th>\n",
       "      <th>year</th>\n",
       "      <th>population</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1004377</td>\n",
       "      <td>TX</td>\n",
       "      <td>33.298570</td>\n",
       "      <td>-96.535860</td>\n",
       "      <td>562212</td>\n",
       "      <td>Waste Management and Remediation Services</td>\n",
       "      <td>221014.750000</td>\n",
       "      <td>2016</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1003188</td>\n",
       "      <td>TX</td>\n",
       "      <td>31.671177</td>\n",
       "      <td>-98.996513</td>\n",
       "      <td>326113</td>\n",
       "      <td>Plastics and Rubber Products Manufacturing</td>\n",
       "      <td>31773.480000</td>\n",
       "      <td>2016</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1007733</td>\n",
       "      <td>TX</td>\n",
       "      <td>29.755790</td>\n",
       "      <td>-95.297910</td>\n",
       "      <td>221320</td>\n",
       "      <td>Utilities</td>\n",
       "      <td>22362.816000</td>\n",
       "      <td>2016</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1002685</td>\n",
       "      <td>TX</td>\n",
       "      <td>26.295556</td>\n",
       "      <td>-94.897778</td>\n",
       "      <td>211120</td>\n",
       "      <td>Oil and Gas Extraction</td>\n",
       "      <td>265377.770000</td>\n",
       "      <td>2016</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1005601</td>\n",
       "      <td>TX</td>\n",
       "      <td>30.329030</td>\n",
       "      <td>-97.292070</td>\n",
       "      <td>327120</td>\n",
       "      <td>Nonmetallic Mineral Product Manufacturing</td>\n",
       "      <td>55858.240000</td>\n",
       "      <td>2016</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32459</th>\n",
       "      <td>1003726</td>\n",
       "      <td>VT</td>\n",
       "      <td>44.481636</td>\n",
       "      <td>-73.090622</td>\n",
       "      <td>334413</td>\n",
       "      <td>Computer and Electronic Product Manufacturing</td>\n",
       "      <td>282381.911342</td>\n",
       "      <td>2020</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32460</th>\n",
       "      <td>1005261</td>\n",
       "      <td>VT</td>\n",
       "      <td>44.908710</td>\n",
       "      <td>-72.221040</td>\n",
       "      <td>562212</td>\n",
       "      <td>Waste Management and Remediation Services</td>\n",
       "      <td>62845.700000</td>\n",
       "      <td>2020</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32461</th>\n",
       "      <td>1011251</td>\n",
       "      <td>VT</td>\n",
       "      <td>43.709870</td>\n",
       "      <td>-73.063020</td>\n",
       "      <td>212312</td>\n",
       "      <td>Mining (except Oil and Gas)</td>\n",
       "      <td>26424.098000</td>\n",
       "      <td>2020</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32462</th>\n",
       "      <td>1002803</td>\n",
       "      <td>VT</td>\n",
       "      <td>44.474320</td>\n",
       "      <td>-73.190610</td>\n",
       "      <td>611310</td>\n",
       "      <td>Educational Services</td>\n",
       "      <td>24609.106000</td>\n",
       "      <td>2020</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32463</th>\n",
       "      <td>1006423</td>\n",
       "      <td>VT</td>\n",
       "      <td>44.909945</td>\n",
       "      <td>-72.976094</td>\n",
       "      <td>322130</td>\n",
       "      <td>Paper Manufacturing</td>\n",
       "      <td>36477.764000</td>\n",
       "      <td>2020</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>32464 rows × 9 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       Facility Id State   Latitude  Longitude  Primary NAICS Code  \\\n",
       "0          1004377    TX  33.298570 -96.535860              562212   \n",
       "1          1003188    TX  31.671177 -98.996513              326113   \n",
       "2          1007733    TX  29.755790 -95.297910              221320   \n",
       "3          1002685    TX  26.295556 -94.897778              211120   \n",
       "4          1005601    TX  30.329030 -97.292070              327120   \n",
       "...            ...   ...        ...        ...                 ...   \n",
       "32459      1003726    VT  44.481636 -73.090622              334413   \n",
       "32460      1005261    VT  44.908710 -72.221040              562212   \n",
       "32461      1011251    VT  43.709870 -73.063020              212312   \n",
       "32462      1002803    VT  44.474320 -73.190610              611310   \n",
       "32463      1006423    VT  44.909945 -72.976094              322130   \n",
       "\n",
       "                                       industry_type  total_direct_emissions  \\\n",
       "0          Waste Management and Remediation Services           221014.750000   \n",
       "1         Plastics and Rubber Products Manufacturing            31773.480000   \n",
       "2                                         Utilities             22362.816000   \n",
       "3                             Oil and Gas Extraction           265377.770000   \n",
       "4          Nonmetallic Mineral Product Manufacturing            55858.240000   \n",
       "...                                              ...                     ...   \n",
       "32459  Computer and Electronic Product Manufacturing           282381.911342   \n",
       "32460      Waste Management and Remediation Services            62845.700000   \n",
       "32461                    Mining (except Oil and Gas)            26424.098000   \n",
       "32462                           Educational Services            24609.106000   \n",
       "32463                            Paper Manufacturing            36477.764000   \n",
       "\n",
       "       year  population  \n",
       "0      2016  27914064.0  \n",
       "1      2016  27914064.0  \n",
       "2      2016  27914064.0  \n",
       "3      2016  27914064.0  \n",
       "4      2016  27914064.0  \n",
       "...     ...         ...  \n",
       "32459  2020    623347.0  \n",
       "32460  2020    623347.0  \n",
       "32461  2020    623347.0  \n",
       "32462  2020    623347.0  \n",
       "32463  2020    623347.0  \n",
       "\n",
       "[32464 rows x 9 columns]"
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "emission_df = pd.merge(emission_df,population_df,on=[\"State\",\"year\"])\n",
    "emission_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "90291fd9",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Facility Id</th>\n",
       "      <th>State</th>\n",
       "      <th>industry_type</th>\n",
       "      <th>year</th>\n",
       "      <th>total_direct_emissions</th>\n",
       "      <th>population</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1004377</td>\n",
       "      <td>TX</td>\n",
       "      <td>Waste Management and Remediation Services</td>\n",
       "      <td>2016</td>\n",
       "      <td>221014.750000</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1003188</td>\n",
       "      <td>TX</td>\n",
       "      <td>Plastics and Rubber Products Manufacturing</td>\n",
       "      <td>2016</td>\n",
       "      <td>31773.480000</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1007733</td>\n",
       "      <td>TX</td>\n",
       "      <td>Utilities</td>\n",
       "      <td>2016</td>\n",
       "      <td>22362.816000</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1002685</td>\n",
       "      <td>TX</td>\n",
       "      <td>Oil and Gas Extraction</td>\n",
       "      <td>2016</td>\n",
       "      <td>265377.770000</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1005601</td>\n",
       "      <td>TX</td>\n",
       "      <td>Nonmetallic Mineral Product Manufacturing</td>\n",
       "      <td>2016</td>\n",
       "      <td>55858.240000</td>\n",
       "      <td>27914064.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32459</th>\n",
       "      <td>1003726</td>\n",
       "      <td>VT</td>\n",
       "      <td>Computer and Electronic Product Manufacturing</td>\n",
       "      <td>2020</td>\n",
       "      <td>282381.911342</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32460</th>\n",
       "      <td>1005261</td>\n",
       "      <td>VT</td>\n",
       "      <td>Waste Management and Remediation Services</td>\n",
       "      <td>2020</td>\n",
       "      <td>62845.700000</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32461</th>\n",
       "      <td>1011251</td>\n",
       "      <td>VT</td>\n",
       "      <td>Mining (except Oil and Gas)</td>\n",
       "      <td>2020</td>\n",
       "      <td>26424.098000</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32462</th>\n",
       "      <td>1002803</td>\n",
       "      <td>VT</td>\n",
       "      <td>Educational Services</td>\n",
       "      <td>2020</td>\n",
       "      <td>24609.106000</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>32463</th>\n",
       "      <td>1006423</td>\n",
       "      <td>VT</td>\n",
       "      <td>Paper Manufacturing</td>\n",
       "      <td>2020</td>\n",
       "      <td>36477.764000</td>\n",
       "      <td>623347.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>32464 rows × 6 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       Facility Id State                                  industry_type  year  \\\n",
       "0          1004377    TX      Waste Management and Remediation Services  2016   \n",
       "1          1003188    TX     Plastics and Rubber Products Manufacturing  2016   \n",
       "2          1007733    TX                                     Utilities   2016   \n",
       "3          1002685    TX                         Oil and Gas Extraction  2016   \n",
       "4          1005601    TX      Nonmetallic Mineral Product Manufacturing  2016   \n",
       "...            ...   ...                                            ...   ...   \n",
       "32459      1003726    VT  Computer and Electronic Product Manufacturing  2020   \n",
       "32460      1005261    VT      Waste Management and Remediation Services  2020   \n",
       "32461      1011251    VT                    Mining (except Oil and Gas)  2020   \n",
       "32462      1002803    VT                           Educational Services  2020   \n",
       "32463      1006423    VT                            Paper Manufacturing  2020   \n",
       "\n",
       "       total_direct_emissions  population  \n",
       "0               221014.750000  27914064.0  \n",
       "1                31773.480000  27914064.0  \n",
       "2                22362.816000  27914064.0  \n",
       "3               265377.770000  27914064.0  \n",
       "4                55858.240000  27914064.0  \n",
       "...                       ...         ...  \n",
       "32459           282381.911342    623347.0  \n",
       "32460            62845.700000    623347.0  \n",
       "32461            26424.098000    623347.0  \n",
       "32462            24609.106000    623347.0  \n",
       "32463            36477.764000    623347.0  \n",
       "\n",
       "[32464 rows x 6 columns]"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "emission_df.drop(columns=['Latitude','Longitude','Primary NAICS Code'])\n",
    "new_columns = ['Facility Id','State','industry_type','year','total_direct_emissions','population']\n",
    "emission_df = emission_df[new_columns]\n",
    "emission_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "aa19d519",
   "metadata": {},
   "outputs": [],
   "source": [
    "emission_df.to_csv(\"ml_database.csv\",index=False)"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "mlenv",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.9.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}