In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Load USDA number of investments data
USDA_invest_data = os.path.join(r'C:\Users\helen\Desktop\Berkeley boot camp\Datasets\carbon_emission_analysis\Historical data\usda_Energy_number_I_2016-2020.csv')
USDA_invest_df = pd.read_csv(USDA_invest_data)
USDA_invest_df.head()

        State State abbreviations  2016  2017  2018  2019  2020
0     Alabama                 AL    140   122    91    56    24
1      Alaska                  AK    14    20    41    31    38
2     Arizona                  AZ    53    42    31    18    24
3    Arkansas                  AR   648   455   346   256    75
4  California                  CA   839   760   653   504   210

In [3]:
# Load Emissions data
emission_data = os.path.join(r'C:\Users\helen\Desktop\Berkeley boot camp\Datasets\carbon_emission_analysis\DB_Resources\ml_database.csv')
emission_df = pd.read_csv(emission_data)
emission_df.head()

,Facility Id,State,industry_type,year,total_direct_emissions,population,gdp_per_capita,policies_incentives
0,1004377,TX,Waste Management and Remediation Services,2016,221014.750,27914064,58033.62062,140
1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.480,27914064,58033.62062,140
2,1007733,TX,Utilities,2016,22362.816,27914064,58033.62062,140
3,1002685,TX,Oil and Gas Extraction,2016,265377.770,27914064,58033.62062,140
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.240,27914064,58033.62062,140

In [4]:
USDA_invest_2016 = USDA_invest_df[["State abbreviations","2016"]]
USDA_invest_2016["year"]=2016
USDA_invest_2016["USDA_number_invest"] = USDA_invest_2016.pop("2016")

USDA_invest_2017 = USDA_invest_df[["State abbreviations","2017"]]
USDA_invest_2017["year"]=2017
USDA_invest_2017["USDA_number_invest"] = USDA_invest_2017.pop("2017")

USDA_invest_2018 = USDA_invest_df[["State abbreviations","2018"]]
USDA_invest_2018["year"]=2018
USDA_invest_2018["USDA_number_invest"] = USDA_invest_2018.pop("2018")

USDA_invest_2019 = USDA_invest_df[["State abbreviations","2019"]]
USDA_invest_2019["year"]=2019
USDA_invest_2019["USDA_number_invest"] = USDA_invest_2019.pop("2019")

USDA_invest_2020 = USDA_invest_df[["State abbreviations","2020"]]
USDA_invest_2020["year"]=2020
USDA_invest_2020["USDA_number_invest"] = USDA_invest_2020.pop("2020")
USDA_invest_2020.head()

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  State abbreviations  year  USDA_number_invest
0                 AL   2020                  24
1                  AK  2020                  38
2                  AZ  2020                  24
3                  AR  2020                  75
4                  CA  2020                 210

In [5]:
USDA_invest_df = pd.concat([USDA_invest_2016,
                            USDA_invest_2017,
                            USDA_invest_2018,
                            USDA_invest_2019,
                            USDA_invest_2020
                           ],axis=0)
USDA_invest_df.dropna()
USDA_invest_df.tail()

   State abbreviations  year  USDA_number_invest
46                  VA  2020                  32
47                  WA  2020                  59
48                  WV  2020                  34
49                  WI  2020                  60
50                  WY  2020                   8

In [6]:
USDA_invest_df = USDA_invest_df.rename(columns = {"State abbreviations" : "State"})

In [7]:
emission_df = pd.merge(emission_df, USDA_invest_df, on=["State","year"])
emission_df

,Facility Id,State,industry_type,year,total_direct_emissions,population,gdp_per_capita,policies_incentives,USDA_number_invest
0,1004377,TX,Waste Management and Remediation Services,2016,221014.7500,27914064,58033.62062,140,176
1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.4800,27914064,58033.62062,140,176
2,1007733,TX,Utilities,2016,22362.8160,27914064,58033.62062,140,176
3,1002685,TX,Oil and Gas Extraction,2016,265377.7700,27914064,58033.62062,140,176
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.2400,27914064,58033.62062,140,176
...,...,...,...,...,...,...,...,...,...
31042,1003726,VT,Computer and Electronic Product Manufacturing,2020,282381.9113,623347,45959.15277,51,22
31043,1005261,VT,Waste Management and Remediation Services,2020,62845.7000,623347,45959.15277,51,22
31044,1011251,VT,Mining (except Oil and Gas),2020,26424.0980,623347,45959.15277,51,22
31045,1002803,VT,Educational Services,2020,24609.1060,623347,45959.15277,51,22
31046,1006423,VT,Paper Manufacturing,2020,36477.7640,623347,45959.15277,51,22

In [8]:
emission_df.to_csv("ml_database.csv",index=False)