In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Load USDA number of investments data
USDA_USDinvest_data = os.path.join(r'C:\Users\helen\Desktop\Berkeley boot camp\Datasets\carbon_emission_analysis\Historical data\USDA_Energy_$I_2016-2020.csv')
USDA_USDinvest_df = pd.read_csv(USDA_USDinvest_data)
USDA_USDinvest_df.head()

,State,State abbreviation,2016,2017,2018,2019,2020
0,Alabama,AL,1638238.39,3190961.19,2562331.42,1.087942e+06,45036.31333
1,Alaska,AK,2247737.90,13756420.74,18211853.13,1.371541e+07,252202.9945
2,Arizona,AZ,2048406.88,1710324.61,522257.21,9.518979e+07,1412496.53
3,Arkansas,AR,3738751.11,2903596.65,80957675.18,6.155849e+07,810566.8263
4,California,CA,60022265.50,30727900.18,27711743.47,1.570570e+08,109158.7294

In [3]:
# Load Emissions data
emission_data = os.path.join(r'C:\Users\helen\Desktop\Berkeley boot camp\Datasets\carbon_emission_analysis\Jupyter notebook\ml_database.csv')
emission_df = pd.read_csv(emission_data)
emission_df.head()

,Facility Id,State,industry_type,year,total_direct_emissions,population,gdp_per_capita,policies_incentives,USDA_number_invest
0,1004377,TX,Waste Management and Remediation Services,2016,221014.750,27914064,58033.62062,140,176
1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.480,27914064,58033.62062,140,176
2,1007733,TX,Utilities,2016,22362.816,27914064,58033.62062,140,176
3,1002685,TX,Oil and Gas Extraction,2016,265377.770,27914064,58033.62062,140,176
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.240,27914064,58033.62062,140,176

In [4]:
USDA_USDinvest_2016 = USDA_USDinvest_df[["State abbreviation","2016"]]
USDA_USDinvest_2016["year"]=2016
USDA_USDinvest_2016["USDA_number_invest"] = USDA_USDinvest_2016.pop("2016")

USDA_USDinvest_2017 = USDA_USDinvest_df[["State abbreviation","2017"]]
USDA_USDinvest_2017["year"]=2017
USDA_USDinvest_2017["USDA_number_invest"] = USDA_USDinvest_2017.pop("2017")

USDA_USDinvest_2018 = USDA_USDinvest_df[["State abbreviation","2018"]]
USDA_USDinvest_2018["year"]=2018
USDA_USDinvest_2018["USDA_number_invest"] = USDA_USDinvest_2018.pop("2018")

USDA_USDinvest_2019 = USDA_USDinvest_df[["State abbreviation","2019"]]
USDA_USDinvest_2019["year"]=2019
USDA_USDinvest_2019["USDA_number_invest"] = USDA_USDinvest_2019.pop("2019")

USDA_USDinvest_2020 = USDA_USDinvest_df[["State abbreviation","2020"]]
USDA_USDinvest_2020["year"]=2020
USDA_USDinvest_2020["USDA_number_invest"] = USDA_USDinvest_2020.pop("2020")
USDA_USDinvest_2020.head()

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  State abbreviation  year USDA_number_invest
0                AL   2020        45036.31333
1                 AK  2020        252202.9945
2                 AZ  2020         1412496.53
3                 AR  2020        810566.8263
4                 CA  2020        109158.7294

In [5]:
USDA_USDinvest_df = pd.concat([USDA_USDinvest_2016,
                            USDA_USDinvest_2017,
                            USDA_USDinvest_2018,
                            USDA_USDinvest_2019,
                            USDA_USDinvest_2020
                           ],axis=0)
USDA_USDinvest_df.dropna()
USDA_USDinvest_df.tail()

   State abbreviation  year USDA_number_invest
46                 VA  2020        64135.12875
47                 WA  2020        42520.83085
48                 WV  2020        35090.95118
49                 WI  2020        254803.3133
50                 WY  2020          28311.125

In [6]:
USDA_USDinvest_df = USDA_USDinvest_df.rename(columns = {"State abbreviation" : "State"})

In [7]:
emission_df = pd.merge(emission_df, USDA_USDinvest_df, on=["State","year"])
emission_df

,Facility Id,State,industry_type,year,total_direct_emissions,population,gdp_per_capita,policies_incentives,USDA_number_invest_x,USDA_number_invest_y
0,1004377,TX,Waste Management and Remediation Services,2016,221014.7500,27914064,58033.62062,140,176,83600842.01
1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.4800,27914064,58033.62062,140,176,83600842.01
2,1007733,TX,Utilities,2016,22362.8160,27914064,58033.62062,140,176,83600842.01
3,1002685,TX,Oil and Gas Extraction,2016,265377.7700,27914064,58033.62062,140,176,83600842.01
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.2400,27914064,58033.62062,140,176,83600842.01
...,...,...,...,...,...,...,...,...,...,...
31042,1003726,VT,Computer and Electronic Product Manufacturing,2020,282381.9113,623347,45959.15277,51,22,113075.8
31043,1005261,VT,Waste Management and Remediation Services,2020,62845.7000,623347,45959.15277,51,22,113075.8
31044,1011251,VT,Mining (except Oil and Gas),2020,26424.0980,623347,45959.15277,51,22,113075.8
31045,1002803,VT,Educational Services,2020,24609.1060,623347,45959.15277,51,22,113075.8
31046,1006423,VT,Paper Manufacturing,2020,36477.7640,623347,45959.15277,51,22,113075.8

In [8]:
emission_df.to_csv("ml_database.csv",index=False)